body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;

    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
}

#app {
    width: 100%; /* 或者根据需要设置一个固定的宽度 */
    max-width: 400px; /* 最大宽度 */
}

form {
    background: rgba(255, 255, 255, 0.2); /* 半透明背景 */
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%); /* 水平渐变背景 */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: #fff; /* 白色文本 */
    width: 100%;
}

input[type=text], input[type=password] {
    width: calc(100% - 20px); /* 减去padding的宽度 */
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9);
}

input[type=button] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2575fc;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type=button]:hover {
    background-color: #6a11cb;
}

/* 隐藏默认的外边距 */
label, input {
    margin: 0;
    display: block;
}
